<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="robots" content="noindex,nofollow")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token" content=csrfToken)
    title iThu
    link(rel="preconnect" href="//fonts.googleapis.com" crossorigin)
    link(rel="preload" href="//fonts.googleapis.com/css?family=Oleo+Script" as="style")
    link(rel="preload" href="//fonts.googleapis.com/css?family=Lato" as="style")
    link(rel="preload" href=`/stylesheets/style.css` as="style")
    link(rel="preload" href=`/${assets['javascripts/runtime.js']}` as="script")
    link(rel="preload" href=`/${assets['javascripts/react.js']}` as="script")
    link(rel="preload" href=`/${assets['javascripts/vendor.js']}` as="script")
    link(rel="preload" href=`/${assets['javascripts/main.js']}` as="script")
    link(href="//fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet" href=`/stylesheets/style.css`)
  body
    #app
    script(src=`/${assets['javascripts/runtime.js']}` defer)
    script(src=`/${assets['javascripts/react.js']}` defer)
    script(src=`/${assets['javascripts/vendor.js']}` defer)
    script(src=`/${assets['javascripts/main.js']}` defer)
